body {
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: #fff;
}

.nav-link {
  color: #000;
  font-size: 1.1em;
}
.navbar-nav {
  color: #000;
  font-size: 1.1em;
}

.search-input {
  transition: 0.2s;
}
.search-input:hover,
.search-input:focus {
  box-shadow: 0 0 0 3px rgba(148, 205, 243, 0.479);
  /* color: rgb(206, 206, 206); */
}
.search-btn {
  transition: 0.2s;
}
.search-btn:hover,
.search-btn:focus {
  box-shadow: 0 0 0 2px rgba(57, 180, 0, 0.664);
}

.nav-custom-button {
  font-weight: bold;
  color: #000;
  transition: 0.25s;
}
.nav-custom-button:hover,
.nav-custom-button:focus {
  box-shadow:
    0 0 0 0 rgba(0, 0, 0, 0.185),
    inset 12.5em 5em 0 0 rgba(0, 0, 0, 0.185);
}
.navbar {
  padding-bottom: 1px;
  padding-top: 1px;
}

#navContainerID {
  padding-left: 0;
  padding-right: 0;
}
.testststst {
  border-radius: 10px;
}
.testststst:hover {
  background-color: rgb(220, 220, 220);
}
